<div class="hero">
  <div class="hero-container">
    <p>CIGAR BAND ART COLLECTION</p>
    <h1>Where Cigar Culture Meets Artistic Expression</h1>
    <span
      >Discover unique handcrafted masterpieces created from premium cigar bands. Each piece tells a
      story of passion, craftsmanship, and the art of fine living.</span
    >

    <div class="hero-container__buttons">
      <button class="hero-container__buttons-explore-button" (click)="handleLinkClick('products')">
        Explore Collection
      </button>
      <button class="hero-container__buttons-story-button" (click)="handleLinkClick('about-us')">
        Our Story
      </button>
    </div>
  </div>
</div>
